<div class="container-fluid py-5">
  <div class="p-5 mb-4 rounded">
    <h1 class="display-5 aqi <%= @aqi_color %> fw-bold"><%= @aqi_value %></h1>
    <p class="col-md-8 fs-4">Current air quality level is <strong><%= @aqi_description %></strong> in <%= @city %>, <%= @state %></p>
    <%= link_to 'Try another zipcode!', root_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>